#topicSection {
    transition: background-color .5s ease;
}

.nav-link {
    position: relative;
    color: #444;
    font-weight: 500;
    background: transparent !important;
    border: 0 !important;
    padding: .5rem 0;
    transition: color .3s ease;
}

.nav-link:hover {
    color: #000;
}

/* 1. Hide Bootstrap's caret arrow */
.dropdown-toggle::after {
    display: none !important;
}

/* 2. Custom Underline using ::before (Avoids conflict) */
.nav-link::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -6px;
    width: 0;
    height: 3px;
    background: #000;
    border-radius: 50px;
    transform: translateX(-50%);
    transition: width .35s ease;
}

/* Active underline */
.nav-link.active {
    color: #000 !important;
}

.nav-link.active::before {
    width: 100%;
}

/* Hover underline */
.nav-link:hover::before {
    width: 100%;
}

/* Desktop-e Mouse Hover execution */
@media (min-width: 992px) {
    .navbar-nav .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
    }
}

/* Touch Device e click indicator issue fix */
.navbar-nav .dropdown-toggle:focus {
    outline: none;
    box-shadow: none;
}


.card-img {
    height: 100%;
    object-fit: cover;
}